body {
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Helvetica, Arial, sans-serif;
}


.main {
	background-color: white;
	background-color: rgba(255,255,255,0.5);
	width: 600px;
	margin: 0 auto;
	padding: 30px;
	border-radius: 20px;
	box-shadow: 0px 0px 0px 0px;
}

h1 {
	text-align: center;
	font-family: 'Dancing Script', cursive;
}
	

h2 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	margin-bottom: 50px:;
}

/*CSS comment*/
h3:hover {
	color: #666666;
		text-decoration: underline;
		cursor: pointer;
}

img {
	width: 200px;
	margin: 0 auto;
	display: block;
	border: 5px solid white;
	border-radius: 50% 0 50% 0;
}

p,
ul,
ol {
	line-height: 1.5;
	list-style: none;
	padding-left: 0;
}

a {
	color: #cc099;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
	transform: rotateZ(180deg);
	display: inline-block;
}